/* Stylesheet for the 'FUI theme' Plone theme */

body {
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-family: "Verdana", sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 20px 8% 20px 8%;
	/*background-image: url("++resource++plonetheme.fui.images/background.png");
	background-repeat: no-repeat;
	background-position: 90% 30px;*/
}


a {
	color: #005580;
	text-decoration: none;
}
/*a:visited {
	color: #6A0080;
}*/
/*a:hover {
	color: #007EBD;
}*/
a img {
	border: none;
}


div#visual-portal-wrapper {
}




/*******************************************************
 *
 * Header
 *
 *******************************************************/

#portal-top {
	font-size: 0.9em;
}

#portal-header {
	list-style: none;
}

ul#portal-siteactions {
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	text-align: right;
}
ul#portal-siteactions li {
	padding-left: 30px;
	display: inline;
}
ul#portal-siteactions a {
	color: #999;
}
ul#portal-siteactions a:hover {
	text-decoration: underline;
}


div#portal-searchbox {
	float: right;
	margin: 20px 20px 0 0;
}

a#portal-logo img {
	display: block;
	margin: 20px;
}



ul#portal-globalnav, ul#portal-personaltools {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style: none;
	background-color: #111;
}
ul#portal-globalnav {
	float: left;
	padding-left: 20px;
}
ul#portal-personaltools {
	text-align: right;
	padding-right: 20px;
}

ul#portal-globalnav a, ul#portal-personaltools a {
	color: #444;
}
ul#portal-globalnav a:hover, ul#portal-personaltools a:hover {
	text-decoration: underline;
}

ul#portal-globalnav li, ul#portal-personaltools li {
	display: inline;
}
ul#portal-globalnav li {
	padding-right: 30px;
}
ul#portal-personaltools li {
	padding-left: 30px;
}

div#portal-breadcrumbs {
	border-top: 1px solid #000;
	background-color: #eee;
	border-bottom: 1px dashed #777;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 20px;
}




/******************************************************
 *
 * Sidebars
 *
 ******************************************************/

#visual-portal-wrapper {
}

table#portal-columns {
	border-style: solid;
	border-color: #ccc;
	border-width: 0 1px 1px 1px;
}


dl.portlet {
	margin-bottom: 30px;
}

dl.portlet dt.portletHeader {
	font-size: 1.2em;
	margin-bottom: 15px;
}
dl.portlet dt.portletHeader a {
	color: #444;
}


dl.portlet dd.portletItem {
	margin: 0 0 0 0;
	padding: 0;
}
dl.portlet dd.odd {
}
dl.portlet dd.even {
}
dl.portlet dd.portletItem a {
}


ul.navTree {
	margin: 0 0 0 15px;
	padding: 0;
}

ul.navTreeLevel0 {
	margin-left: 0;
	padding: 0;
}

#portal-column-one ul.navTree a {
	border: 1px solid #fff;
}

#portal-column-two ul.navTree a {
	border: 1px solid #eee;
}



#portal-column-one {
	font-size: 0.9em;
	width: 150px;
	padding: 0;
	padding: 20px 0 20px 20px;
	border-left: 1px solid #ccc;
}

#portal-column-one .portlet {
}


#portal-column-two {
	padding: 20px 20px 20px 20px;
	background-color: #eee;
	font-size: 0.9em;
	border-left: 1px dashed #777;

}



/*********************************************************
 *
 * Main content
 *
 *********************************************************/

#portal-column-content {
	margin: 0;
	padding: 20px;
}

#content {
	margin: 0;
	padding: 0;
}

#content a:hover {
	color: #333;
}

#portal-column-content dd {
	padding: 0;
	margin: 0 0 0 25px;
	font-size: 0.9em;
	color: #333;
}

#content h1.documentFirstHeading {
	font-family: "Georgia", serif;
	font-weight: normal;
	color: #00293D;
	font-size: 2.8em;
	margin: 0 0 20px 0;
	padding: 0;
}
#content h1 a {
	color: #00293D;
}

#content h2 {
	font-family: "Georgia", serif;
	font-weight: normal;
	color: #333;
	font-size: 2.0em;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 0;
}
#content h2 a {
	color: #333;
}

#content h3 {
	font-family: "Georgia", serif;
	font-weight: normal;
	color: #000;
	font-size: 1.6em;
	margin-top: 25px;
	margin-bottom: 20px;
	padding: 0;
}
#content h3 a {
	color: #000;
}


#content p.documentDescription {
	font-style: italic;
}


pre, #content span.pre {
	font-family: "Monaco", "Lucida Console", monospace;
}

#content span.pre {
	border: 1px solid #ccc;
	padding: 1px 3px 1px 3px;
	background-color: #eee;
}


#content blockquote, pre {
	border-left: 6px solid #ccc;
	padding: 5px 5px 5px 10px;
	margin: 10px 0 10px 20px;
}

#content blockquote, p.discreet {
	color: #333;
	font-size: 0.9em;
}


/* TOC */
dl#document-toc {
	background-color: #eee;
	border: 1px solid #666;
	width: 200px;
	float: right;
	margin: 10px 0 20px 20px;
}
dl#document-toc dt {
	background-color: #ccc;
	border-bottom: 1px solid #666;
	padding: 1px 6px 1px 6px;
	margin: 0;
	font-size: 1.0em;
}
dl#document-toc ol {
	margin: 0 0 0 20px;
	padding: 0;
}
dl#document-toc ol.TOC1Digit {
	margin: 0 0 0 5px;
	padding: 0;
}
dl#document-toc li {
	padding: 4px 4px 4px 0;
}



/* Event details */
div.eventDetails {
	margin: 10px 0 10px 0;
}
div.eventDetails td ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



/* Images */
#content img.image-right {
	border: 1px solid #000;
	margin: 10px;
	float: right;
}



/* Tables */

#content table {
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 0.9em;
	color: #333;
	margin: 10px 0 10px 0;
}

#content table td, #content table th {
	padding: 5px;
}

#content table.grid, #content table.listing {
	border: 1px solid #666;
}


#content table.grid td, #content table.grid th, #content table.listing th {
	border: 1px solid #666;
}

#content table.listing td, #content table.listing th {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#content table.grid th, #content table.vertical th, #content table.listing th{
	background-color: #eee;
	font-weight: normal;
	font-style: italic;
}

#content table.grid th {
	border-bottom: 3px solid #666;
}

#content table.vertical {
	border-bottom: 3px solid #666;
	border-top: 3px solid #666;
}


/*********************************************************
 *
 * Search results and standard view
 *
 *********************************************************/

dl.searchResults {
}

dl.searchResults dt {
}

#portal-column-content dl.searchResults dd, #content dd span.description {
	padding: 0 0 3px 0;
	margin: 0 0 30px 0;
	border-bottom: 1px dashed #ccc;
}

#content dd span.description {
	margin-left: -25px;
	display: block;
}

#content .documentByLine {
	display: none;
}


/*********************************************************
 *
 * Summary view
 *
 *********************************************************/

#content div.tileItem {
	width: 250px;
	background-color: #eee;
	border: 1px solid #666;
	margin: 15px 30px 15px 0;
	display: block;
	float: left;
}

#content h2.tileHeadline {
	font-size: 1.0em;
	font-family: "Verdana", sans-serif;
	background-color: #ccc;
	border-bottom: 1px solid #666;
	padding: 1px 6px 1px 6px;
	margin: 0;
	font-weight: normal;
	height: 2.6em;
}

#content h2.tileHeadline a{
	color: #333;
}

#content p.tileBody {
	padding: 6px;
	margin: 0;
	font-size: 0.9em;
	height: 2.8em;
	overflow: hidden;
}

#content p.tileFooter {
	padding: 6px;
	margin: 0;
}


/*********************************************************
 *
 * Document actions
 *
 *********************************************************/

#content div.documentActions {
	font-size: 0.9em;
	margin-top: 20px;
}

#content div.documentActions a {
	color: #999;
}
#content div.documentActions a:hover {
	color: #999;
	text-decoration: underline;
}

#content div.documentActions ul{
	margin: 0;
	list-style: none;
	border-top: 1px solid #ccc;
	padding-bottom: 10px;
	text-align: right;
}
#content div.documentActions li{
	padding-left: 30px;
	display: inline;
}



/*********************************************************
 *
 * Footer
 *
 *********************************************************/

/* The part with plone copyright */
#portal-footer {
	display: none;
}

/* Technology links (build with Plone, Valid XHTML....) */
#portal-colophon {
	display: none;
}



/*********************************************************
 *
 * Live search
 *
 *********************************************************/

.LSResult {
	position: absolute;
	top: 130px;
	right: 50px;
	background-color: #ddd;
	border: 3px solid #000;
	display: none;
}

.LSResult fieldset {
	border: none;
}

.LSResult legend {
	background-color: transparent;
}



/*********************************************************
 *
 * Comments
 *
 *********************************************************/

div.discussion {
	margin-top: 30px;
}

div.discussion div.comment {
	background-color: #fff;
	/* border: 1px solid #ccc; */
	border: none;
	color: #666;
	font-size: 0.9em;
	border-bottom: 1px dashed #ccc;
}

div.discussion h3 {
	border: none;
	margin: 0;
	padding: 0;
}
div.discussion h3 a {
	color: #666;
	font-size: 1.0em;
}


/*********************************************************
 *
 * Related items
 *
 *********************************************************/

div.relatedItems {
}

fieldset#relatedItemBox {
	border: 1px solid #ccc;
}

fieldset#relatedItemBox ul {
	margin: 0;
	margin: 0;
	padding: 0;
}

fieldset#relatedItemBox legend {
	color: #888;
}

fieldset#relatedItemBox a {
	color: #999;
	font-size: 0.9em;
}
fieldset#relatedItemBox a:hover {
	text-decoration: underline;
}


/*********************************************************
 *
 * Admin interface
 *
 *********************************************************/

div.documentEditable #region-content {
	border: none;
	margin-top: 20px;
}

div.documentEditable .contentActions {
	border-bottom: 1px solid green;
}

.kupu {
	font-size: 1.2em;
}



/*********************************************************
 *
 * Previous / Next navigation
 *
 *********************************************************/

div.listingBar a {
	padding: 2px;
	color: #999;
	font-size: 0.9em;
	margin-left: 20px;
}
div.listingBar a:hover {
	text-decoration: underline;
}

div.listingBar {
	text-align: right;
}
